.cart-wrapper {
    min-height: calc(100vh - 60px);

    .cart-container {
        margin-bottom: 150px;

        .cart-element {
            min-height: 300px;
            box-sizing: border-box;

            .cart-title-flex {
                min-height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cart-item-flex {
                min-height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cart-nav-flex {
                min-height: inherit;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                .icon {
                    display: block;
                }

                .quantity {
                    label {
                        margin: 10px 0;
                        display: inline-block;
                    }

                    select {
                        display: inline-block;
                    }
                }
            }
        }
    }
}