.glyphicon{
    background: url('../img/index/link-icon.png') top left / 0.7rem 0.7rem no-repeat;
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
}

.btn-transparent {
    text-decoration: none;

    height: 54px;
    width: 207px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;

    &:hover {
        background-color: $lightgray;
        color: black;
    }
}

.hero {
    background: url('../img/index/hero.jpg') center center / contain no-repeat;
    background-size: cover;
    height: 1080px;
    color: white;

    .hero-middle {
        position: absolute;
        top: 25%;
        left: 20%;
        height: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            margin: 20px 0;
            font-size: 2.5rem;
            font-weight: 300;
        }

        .oneplus3t {
            width: 320px;
            height: auto;
        }

        .flexcol-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;

            p {
                font-size: 24px;
                font-weight: 100;
            }



            .dash {
                width: 100px;
                height: auto;
            }
        }

        .encourages {
            display: inline-block;
            height: 110px;
            width: 239px;
        }
    }
}

.reviews, .img-container{
    background-color: $lightgray;
}

.images {
    height: 380px;
    
    a {
        display: block;
        opacity: 1;
        transition: opacity .25s ease-in-out;
        text-decoration: none;

        &:hover {
            opacity: 0.9;
        }  
    }

    .one {
        background: url('../img/index/lick_of_love.png') center center / cover no-repeat;
    }
    .two {
        background: url('../img/index/awards.jpg') center center / cover no-repeat;
    }

    .three {
        background: url('../img/index/pidgeons.jpg') center center / cover no-repeat;
    }
}

.mail {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A1A4A9;
    text-align: center;
    margin: 0;
    color: white;

    .title-container {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            color: white;
            font-size: 3rem;
            font-weight: 100;
        }

        .subtitle {
            font-size: 1.8rem;
            font-weight: 100;
        }

        .input-container {
            input {
                width: 320px;
                height: 45px;
                border-radius: 4px;
                margin-right: 5px;
            }

            button {
                background-color: #707276;
                margin-top: -4px;
                width: 180px;
                height: 45px;
                border-radius: 4px;
                box-shadow: none;
                border: 0;

                &:hover {
                    background-color: #666;
                }
            }
        }
    }
}