.signup-wrapper{
    height: calc(100vh - (50px + 76px));
    background-color: #F9F9F9;
    text-align: center;

    box-sizing: border-box;
    padding-top: 20px;
}
.signup-section{
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 15px;
    }
}

.btn-signup{
    padding: 10px 0;
}