a {
  color: #666666; }

h1, h2, h3, h4 {
  font-weight: 100; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #666666; }

.ng-scope {
  margin: auto 0px; }

.btn-oneplus {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: white;
  border: none; }
  .btn-oneplus > .bar {
    margin: 4px auto;
    height: 3px;
    width: 22px;
    background-color: #666666; }
  .btn-oneplus:hover {
    background-color: #EB0029; }
    .btn-oneplus:hover :nth-child(odd) {
      transition: .25s;
      background-color: white; }

.login-link, .cart-link, .nav-link, .social-media-link {
  cursor: pointer; }
  .login-link:hover, .cart-link:hover, .nav-link:hover, .social-media-link:hover {
    color: black; }

.header {
  height: 50px;
  position: relative; }
  .header .row {
    height: inherit; }
    .header .row > * {
      height: inherit; }

.oneplus-nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .oneplus-nav-item:link, .oneplus-nav-item:visited {
    color: #666666;
    text-decoration: none; }
  .oneplus-nav-item:hover {
    text-decoration: none;
    background-color: #EB0029;
    transition: 0.25s;
    color: white; }

.dropdown-menu {
  width: 100%;
  margin-top: 0px;
  border-style: solid;
  border-color: #E6E6E6;
  border-width: 1px 0 0 0;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0; }
  .dropdown-menu > .oneplus-nav-item {
    display: inherit; }

.phone-text {
  color: #EB0029;
  margin: 0; }

.social-media-nav {
  width: 65px; }

.copyright {
  margin: 5px 0; }

.store-element {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin-bottom: 9px; }
  .store-element a {
    width: 100%;
    display: flex;
    justify-content: center; }
    .store-element a .img-container {
      display: flex;
      justify-content: center;
      margin: 0;
      height: 32vh;
      width: 32vw; }
      .store-element a .img-container img {
        height: 100%;
        width: auto; }

.cart-wrapper {
  min-height: calc(100vh - 60px); }
  .cart-wrapper .cart-container {
    margin-bottom: 150px; }
    .cart-wrapper .cart-container .cart-element {
      min-height: 300px;
      box-sizing: border-box; }
      .cart-wrapper .cart-container .cart-element .cart-title-flex {
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-items: center; }
      .cart-wrapper .cart-container .cart-element .cart-item-flex {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .cart-wrapper .cart-container .cart-element .cart-nav-flex {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .icon {
          display: block; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .quantity label {
          margin: 10px 0;
          display: inline-block; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .quantity select {
          display: inline-block; }

.checkout-wrapper {
  height: calc(100vh - 60px); }
  .checkout-wrapper .credit-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .checkout-wrapper .credit-card-form input {
      width: 40vw; }

.glyphicon {
  background: url("../img/index/link-icon.png") top left/0.7rem 0.7rem no-repeat;
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem; }

.btn-transparent {
  text-align: center;
  padding: 5px;
  height: 40px;
  width: 160px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px; }
  .btn-transparent:link, .btn-transparent:visited {
    text-decoration: none;
    color: white; }
  .btn-transparent:hover {
    text-decoration: none;
    background-color: #E6E6E6;
    transition: all 0.2s ease-in;
    color: black; }

.dash-logo {
  display: block;
  width: 60px; }

.awards-logo {
  width: 20%; }

.awards-logo-xs {
  width: 15%; }

.btn-subscribe {
  color: white;
  background-color: #707276;
  box-shadow: none;
  border: 0;
  border-radius: 3px;
  height: 45px; }
  .btn-subscribe:hover {
    background-color: #666; }

.oneplus-input {
  display: block;
  height: 45px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  text-indent: 20px; }

.hero {
  background: url("../img/index/hero-small.jpg") center center/cover no-repeat;
  width: 100%;
  height: 152vw;
  display: flex;
  flex-direction: column;
  color: white; }
  .hero .oneplus3t-svg {
    width: 200px; }
  .hero .title, .hero .subtitle, .hero .price-title {
    text-align: center; }
  .hero .title {
    margin: 10% 0 0 0; }
  .hero .subtitle {
    margin: 10px 0 40px 0;
    font-size: 2em; }
  .hero .price-title {
    margin-bottom: 10px;
    font-size: 1.5em; }
  .hero .btn-transparent {
    margin: 0 auto; }
  .hero .logo-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 5%; }

.media {
  background-color: #E6E6E6; }
  .media .media-link {
    color: #009ACE; }

.image-link {
  box-sizing: border-box;
  display: flex;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  flex-direction: column;
  justify-content: flex-end; }
  .image-link:link, .image-link:visited {
    text-decoration: none;
    color: white; }
  .image-link:hover {
    opacity: 0.9; }
  .image-link .image-text {
    margin: 0 0 5% 5%; }

.bg-face {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%), url("../img/index/lick_of_love.png") center center/cover no-repeat; }

.bg-awards {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%), url("../img/index/awards.jpg") center center/cover no-repeat; }

.bg-pidgeons {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%), url("../img/index/pidgeons.jpg") center center/cover no-repeat; }

.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 440px;
  background-color: #A1A4A9;
  text-align: center;
  color: white; }
  .mail .btn-subscribe, .mail .oneplus-input {
    display: block;
    width: 80%;
    margin: 5px auto; }

@media (max-width: 768px) {
  .media .col-12 {
    height: 60vw; }
  .images .col-12 {
    height: 100vw; } }

@media (min-width: 768px) {
  .hero {
    box-sizing: border-box;
    padding: 0 5%;
    background: url("../img/index/hero.jpg") center center/cover no-repeat;
    height: 56vw;
    align-items: flex-start; }
    .hero .btn-transparent {
      margin: 0; }
    .hero .logo-container {
      align-items: flex-start;
      padding: 0; }
  .dash-logo {
    order: -1;
    display: block;
    width: 100px; }
  .col-md-4 {
    height: 33.33333333vw; } }

.login-wrapper {
  height: calc(100vh - 60px); }

.login-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .login-flex form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.logout-flex {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.product-wrapper {
  height: calc(100vh - 60px); }

.option-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.option-img-container {
  width: 33%;
  flex-grow: 1; }

.img-wrapper {
  display: flex;
  justify-content: center; }
  .img-wrapper .img-container {
    width: 600px; }
    .img-wrapper .img-container img {
      width: 100%;
      height: auto; }

.option-img {
  width: 100%; }

.background {
  background: none; }

.signup-wrapper {
  height: calc(100vh - 60px); }
  .signup-wrapper .signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .signup-wrapper .signup-flex form {
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .signup-wrapper .signup-flex form .input-flex {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .signup-wrapper .signup-flex form .input-flex input {
          width: inherit; }

.store-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.summary-wrapper {
  height: calc(100vh - 60px); }
  .summary-wrapper .summary-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
