html a {
  color: #999; }

html a:hover {
  color: #070000; }

html a:visited {
  color: #999; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #666666; }

.social-media-nav {
  width: 65px; }

.ng-scope {
  margin: auto 0px; }

.red {
  color: #EB0029; }

.btn-oneplus {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: white;
  border: none; }
  .btn-oneplus > .bar {
    margin: 4px auto;
    height: 3px;
    width: 22px;
    background-color: #666666; }
  .btn-oneplus:hover {
    background-color: #EB0029; }
    .btn-oneplus:hover :nth-child(odd) {
      transition: .25s;
      background-color: white; }

.oneplus-logo {
  height: 25px;
  width: 25px;
  border-left: 1px solid #E6E6E6; }

.header {
  height: 50px;
  position: relative; }
  .header .row {
    height: inherit; }
    .header .row > * {
      height: inherit; }

.oneplus-nav-desktop .oneplus-nav-item {
  height: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .oneplus-nav-desktop .oneplus-nav-item:link, .oneplus-nav-desktop .oneplus-nav-item:visited, .oneplus-nav-desktop .oneplus-nav-item:active {
    text-decoration: none; }
  .oneplus-nav-desktop .oneplus-nav-item:hover {
    text-decoration: none;
    background-color: #EB0029;
    transition: 0.25s;
    color: white; }

.dropdown-menu {
  width: 100%;
  margin-top: 0px;
  border-style: solid;
  border-color: #E6E6E6;
  border-width: 1px 0 0 0;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 0 5px; }
  .dropdown-menu .oneplus-dropdown-item:focus {
    background-color: #EB0029; }

.phone-text {
  color: #EB0029;
  margin: 0; }

.copyright {
  margin: 5px 0; }

.store-element {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin-bottom: 9px; }
  .store-element a {
    width: 100%;
    display: flex;
    justify-content: center; }
    .store-element a .img-container {
      display: flex;
      justify-content: center;
      margin: 0;
      height: 32vh;
      width: 32vw; }
      .store-element a .img-container img {
        height: 100%;
        width: auto; }

.cart-wrapper {
  min-height: calc(100vh - 60px); }
  .cart-wrapper .cart-container {
    margin-bottom: 150px; }
    .cart-wrapper .cart-container .cart-element {
      min-height: 300px;
      box-sizing: border-box; }
      .cart-wrapper .cart-container .cart-element .cart-title-flex {
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-items: center; }
      .cart-wrapper .cart-container .cart-element .cart-item-flex {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .cart-wrapper .cart-container .cart-element .cart-nav-flex {
        min-height: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .icon {
          display: block; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .quantity label {
          margin: 10px 0;
          display: inline-block; }
        .cart-wrapper .cart-container .cart-element .cart-nav-flex .quantity select {
          display: inline-block; }

.checkout-wrapper {
  height: calc(100vh - 60px); }
  .checkout-wrapper .credit-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .checkout-wrapper .credit-card-form input {
      width: 40vw; }

.glyphicon {
  background: url("../img/index/link-icon.png") top left/0.7rem 0.7rem no-repeat;
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem; }

.btn-transparent {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  height: 54px;
  width: 207px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 100; }
  .btn-transparent:active {
    color: white; }
  .btn-transparent:visited {
    color: white; }
  .btn-transparent:hover {
    background-color: #E6E6E6;
    transition: all 0.2s ease-in;
    color: black; }

.hero {
  background: url("../img/index/hero-small.jpg") center center/contain no-repeat;
  background-size: cover;
  height: 1080px;
  color: white; }
  .hero .hero-middle {
    position: absolute;
    top: 25%;
    left: 20%;
    height: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between; }
    .hero .hero-middle h2 {
      margin: 20px 0;
      font-size: 2.5rem;
      font-weight: 300; }
    .hero .hero-middle .oneplus3t {
      height: auto; }
    .hero .hero-middle .flexcol-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%; }
      .hero .hero-middle .flexcol-container p {
        font-size: 24px;
        font-weight: 100; }
      .hero .hero-middle .flexcol-container .dash {
        height: auto; }
    .hero .hero-middle .encourages {
      display: inline-block;
      height: 110px; }

.reviews, .img-container {
  background-color: #E6E6E6; }

.images {
  height: 380px; }
  .images a {
    display: block;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    text-decoration: none; }
    .images a:hover {
      opacity: 0.9; }
  .images .one {
    background: url("../img/index/lick_of_love.png") center center/cover no-repeat; }
  .images .two {
    background: url("../img/index/awards.jpg") center center/cover no-repeat; }
  .images .three {
    background: url("../img/index/pidgeons.jpg") center center/cover no-repeat; }

.mail {
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1A4A9;
  text-align: center;
  margin: 0;
  color: white; }
  .mail .title-container {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .mail .title-container .title {
      color: white;
      font-size: 3rem;
      font-weight: 100; }
    .mail .title-container .subtitle {
      font-size: 1.8rem;
      font-weight: 100; }
    .mail .title-container .input-container input {
      height: 45px;
      border-radius: 4px;
      margin-right: 5px; }
    .mail .title-container .input-container button {
      background-color: #707276;
      margin-top: -4px;
      width: 180px;
      height: 45px;
      border-radius: 4px;
      box-shadow: none;
      border: 0; }
      .mail .title-container .input-container button:hover {
        background-color: #666; }

.login-wrapper {
  height: calc(100vh - 60px); }

.login-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .login-flex form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.logout-flex {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.product-wrapper {
  height: calc(100vh - 60px); }

.option-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.option-img-container {
  width: 33%;
  flex-grow: 1; }

.img-wrapper {
  display: flex;
  justify-content: center; }
  .img-wrapper .img-container {
    width: 600px; }
    .img-wrapper .img-container img {
      width: 100%;
      height: auto; }

.option-img {
  width: 100%; }

.background {
  background: none; }

.signup-wrapper {
  height: calc(100vh - 60px); }
  .signup-wrapper .signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .signup-wrapper .signup-flex form {
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .signup-wrapper .signup-flex form .input-flex {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .signup-wrapper .signup-flex form .input-flex input {
          width: inherit; }

.store-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.summary-wrapper {
  height: calc(100vh - 60px); }
  .summary-wrapper .summary-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
