html {
    font-size: 13px;
    color: #959595;

    .header {
        margin: 0;
    }

    .main {
        padding: 0;
    }

    a {
        color: #999;
    }

    a:hover {
        color: #070000;
    }

    a:visited {
        color: #999;
    }
}

.header,
.middle-container,
.middle-container > .row,
.middle-container > .row > * {
    height: 60px;
}

.logo-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .logo {
        display: inline-block;
        height: 32px;
        width: 32px;
        background-image: url('../img/index/logo_small.png');
    }
}

.main-nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    .nav-button {
        color: #959595;
        list-style: none;
    }
}

.right-nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    color: #959595;

    .flag {
        display: inline-block;
        background: url('../img/index/usa.png') no-repeat center center;
        background-size: contain;
        height: 20px;
        width: 20px;
    }
}

.hero {
    position: relative;
    font-family: 'Lato', sans-serif;
    background: url('../img/index/hero.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1080px;
    color: white;

    .hero-middle {
        position: absolute;
        top: 25%;
        left: 20%;
        height: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            margin: 20px 0;
            font-size: 2.5rem;
            font-weight: 300;
        }

        .oneplus3t {
            width: 320px;
            height: auto;
        }

        .flexcol-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;

            p{
              font-size: 24px;
              font-weight: 100;
            }

            .btn-transparent {
                height: 54px;
                width: 207px;
                border: 1px solid white;
                border-radius: 5px;
                background-color: transparent;
                font-size: 1.5rem;
                font-weight: 100;
            }

            .dash {
                width: 100px;
                height: auto;
            }
        }

        .encourages {
            display: inline-block;
            height: 110px;
            width: 239px;
        }
    }
}

.review-bar {
    width: 100%;
    height: 35vh;
    background-color: #EFEFEF;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;

    .review-element {

      height: inherit;

      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      padding: 0;

        img{
          width: 250px;
          height: auto;

        }

        a{
          color: #00A4DB;
        }
    }
}

.images {

    height: 635px;
    margin: 0;

    .image {
        position: relative;

        height: inherit;
        background-size: cover;
        padding: 0;

        .cornerbox{
          position: absolute;
          left: 20px;
          bottom: 5px;

          p,
          h3{
            font-family: 'Lato', sans-serif;
            color: white;
            font-weight: 100;
          }
        }
    }

    .one {
        background: url('../img/index/dash.jpg') no-repeat center center;
    }

    .two {
        background: url('../img/index/awards.jpg') no-repeat center center;
    }

    .three {
        background: url('../img/index/pidgeons.jpg') no-repeat center center;
    }
}

.mail {
    height: 440px;
    background-color: #A1A4A9;
    text-align: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;

    .subscribe-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .title-container {
            .title {
                font-size: 3rem;
                font-weight: 100;
            }

            .subtitle {
                font-size: 2rem;
                font-weight: 100;
            }

            .input-container {
              input {
                width: 320px;
                height: 45px;
              }

              button {
                margin-top: -4px;
                width: 180px;
                height: 45px;
              }
            }
        }
    }
}

.footer {
    margin: 0;
    height: 110px;
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;

    .left-footer {
        margin-top: 20px;

        nav {
            width: 380px;
            display: inline-flex;
            justify-content: space-between;
        }

        p {
            margin-top: 10px;
            color: #999;
        }
    }

    .right-footer {
        display: flex;
        margin-top: 20px;
        justify-content: center;

        p {
            display: inline-block;
            color: #EB0029;
            margin-right: 25px;
        }

        nav {
            display: inline-flex;
            justify-content: space-between;
            width: 80px;
        }

        i {
            margin-top: 2px;
        }
    }
}
