<section class="hero">
    <h1 class="title">
        <img class="oneplus3t-svg" src="./img/index/oneplus3t-svg.svg" class="oneplus3t" alt="OnePlus3T">
    </h1>
    <h2 class="subtitle">A day's power in half an hour</h2>
    <p class="price-title">From $439</p>
    <a class="btn-transparent" href="#" type="submit">Learn More</a>
    <div class="logo-container">
        <img class="awards-logo d-none d-sm-none d-md-block" src="./img/index/encourages.png" alt="encourages">
        <img class="awards-logo-xs d-block d-md-none" src="./img/index/encourages-xs.png" alt="encourages-xs">
        <img class="dash-logo" src="./img/index/dash-logo-svg.svg" class="dash" alt="dash-speed-charging">
    </div>
</section>
<section class="row no-gutters justify-content-md-around media">
    <div class="col-12 col-md-4 d-flex flex-column justify-content-around align-items-center">
        <div>
            <img src="../img/index/media-mkbhd.png" alt="mkbhd-logo">
        </div>
        <p class="mb-0 text-center">"OnePlus 3T is the fastest charging phone in the world right now."</p>
        <a href="#" class="media-link"><i class="glyphicon"></i> Learn more</a>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-around align-items-center">
        <div>
            <img src="../img/index/media-verge.png" alt="verge-logo">
        </div>
        <p class="mb-0">"OnePlus makes its best phone even better."</p>
        <a href="#" class="media-link"><i class="glyphicon"></i> Learn more</a>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-around align-items-center">
        <div>
            <img src="../img/index/media-cnet.png" alt="cnet-logo">
        </div>
        <p class="mb-0 text-center">"The OnePlus 3T was rated 9/10 by CNET and named their Editor's Choice of November 2016."
        </p>
        <a href="#" class="media-link"><i class="glyphicon"></i> Learn more</a>
    </div>
</section>

<section class="row no-gutters images">
    <a href="#" class="col-12 col-md-4 image-link bg-face">
        <div class="image-text">
            <h3>Lick of Love</h3>
            <p>Enter here</p>
        </div>
    </a>
    <a href="#" class="col-12 col-md-4 image-link bg-awards">
        <div class="image-text">
            <h3>2016 Round-Up</h3>
            <p>Awards and Recognition</p>
        </div>
    </a>
    <a href="#" class="col-12 col-md-4 image-link bg-pidgeons">
        <div class="image-text">
            <h3>Shot on OnePlus</h3>
            <p>Enter here</p>
        </div>
    </a>
</section>
<section class="mail">
    <h4>Always be the first to know</h1>
    <p>Sign up for our new newsletter</p>
    <input class="input-subscribe" type="text" placeholder="E-mail address">
    <button class="btn-subscribe" type="submit">Subscribe now</button>
</section>