.btn-oneplus-red{
    background-color: $oneplusred;
    border: none;
    box-shadow: none;
    color: white;
    border-radius: 3px;
    font-size: 1.33rem;
}

.btn-transparent-black{
    background-color: transparent;
    border-radius: 2px;
    box-shadow: none;

    border: 1px solid black;
    color: black;
}

.oneplus-input{

    box-sizing: border-box;
    padding: 8px 12px;

    height: 3rem;
    line-height: 2rem;
    font-size: 1.333rem;

    box-shadow: none;

    border: 1px solid #E5E5E5;
    border-radius: 2px;

    &:hover{
        border-color: #999999;
    }

    &:focus{
        border-color: #999999;
    }
}

.background-oneplus-red {
    background-color: $oneplusred !important;
    border-color: $oneplusred !important;
}