@import "public/variables";

a{
    color: $fontgray;
}

h1, h2, h3, h4 {
    font-weight: 100;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: $fontgray;
}

.ng-scope{
    margin: auto 0px;
}

.btn-oneplus{
    width: 50px;
    height: 50px;
    
    box-sizing: border-box;
    

    background-color: white;
    
    border: none;
    
    > .bar {
        margin: 4px auto;
        height: 3px;
        width: 22px;
        background-color: $fontgray;
    }

    &:hover{
        
        background-color: $oneplusred;
        
        :nth-child(odd){
            transition: .25s;
            background-color: white;
        }
    }
}

.login-link, .cart-link, .nav-link, .social-media-link {

    cursor: pointer;

    &:hover{
        color: black;
    }
}


.header{
    height: 50px;
    position: relative;
    
    .row{
        height: inherit;
        
        > * {
            height: inherit;
        }
    }
    
}

.oneplus-nav-item{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:link, &:visited{
        color: $fontgray;
        text-decoration: none;
    }
    
    &:hover{
        text-decoration: none;
        background-color: $oneplusred;
        transition: 0.25s;
        color: white;
    }
}

.dropdown-menu{
    display: block;
    width: 100vw;
    margin-top: 0px;
    border-style: solid;
    border-color: $lightgray;
    border-width: 1px 0 0 0;
    border-radius: 0px;
    box-sizing: border-box;

    transform: scaleY(0);
    transform-origin: top;

    padding: 0;

    &.show{
        transform: scaleY(1);
        transition: 0.5s;
    }
    
    > .oneplus-nav-item {
        display: inherit;
    }
}

.phone-text{
    color: $oneplusred;
    margin: 0;
}

.social-media-nav{
    width: 65px;
}

.copyright{
    margin: 5px 0;
}