<!DOCTYPE html>


<div class="cart-element">
  <div class="cart-img-container">
    <img src="./img/store/cases/x-flipcover/orange/orange-front.png" alt="">
  </div>
  <div class="cart-info-container">
    <p class="cart-product-title">
      Oneplus 6T Bumper Case Karbon
    </p>

    <p class="cart-price"></p>
    <p class="cart-discounted-price"></p>

    <div class="cart-item-subtotal-wrapper">
      <div class="cart-item-qty-selector"></div>
      <p class="item-subtotal">
        29.94
      </p>
    </div>
  </div>
</div>

  <!-- <div class="col-sm-offset-1 col-sm-3">
    <div class="img-container">
      <img class="option-img" ng-src="./img/store/{{item.imageurl}}" alt="option">
    </div>
  </div>
  <div class="col-sm-2 cart-title-flex">
    <p>{{item.productname + ' ' + item.optionname}}</p>
  </div>
  <div class="col-sm-2 cart-item-flex">
    <p>Unit Price: ${{item.optionprice}}</p>
    <p>Subtotal: ${{(item.optionprice * item.quantity).toFixed(2)}}</p>
  </div>
  <div class="col-sm-offset-1 col-sm-1 cart-nav-flex">
      <i class="fa fa-times icon" aria-hidden="true" ng-click = "deleteCartElement(item.tempid)"></i>

      <div class="quantity">
        <label for="quantitySelect">Quantity: </label>
        <select ng-options = "number for number in quantity" name="quantitySelect" ng-model="item.quantity"></select>
      </div>
  </div> -->
