.order-heading{
    text-align: center;
    margin: 20px 0 20px 0;
}

.order-title-row{
    background-color: #F6F6F6;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    color: #555555;

    h3{
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    p{
        font-size: 1.2rem;
    }
}

.order-item{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #DDDDDD;

    &:nth-last-child(1){
        border-bottom: none;
    }
}

.order-image-container{
    display: flex;
    justify-content: center;
}

.order-image {
    max-height: 200px;
}

.order-info-container{
    text-align: end;
}

.strikethrough{
    text-decoration: line-through;
}

.text-ship-to{
    color: black;
}

.btn-pay-order{
    padding: 15px;
}

.order-shipping-container{
    margin: 35px 0 10px 0;
}

.shipping-address-text{
    
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    color: black;

    p{
        margin: 0
    }
}