<section class="hero">
    <div class="hero-middle">
        <div>
            <img src="./img/index/oneplus3t-svg.svg" class="oneplus3t" alt="OnePlus3T">
            <h2 class="subtitle">A day's power in half an hour</h2>
        </div>
        <div class="flexcol-container">
            <p>From $439</p>
            <button class="btn-transparent" type="submit">Learn More</button>
            <img src="./img/index/dash-logo-svg.svg" class="dash" alt="dash-speed-charging">
        </div>
        <img src="./img/index/encourages.png" class="encourages" alt="">
    </div>
</section>

<section class="row review-bar">
    <div class="col-sm-offset-1 col-sm-3 review-element"><img src="../img/index/media-mkbhd.png" alt="" class="mkbhd">
        <p>"OnePlus 3T is the fastest charging phone in the world right now."</p>
        <a><small><span class="glyphicon glyphicon-new-window"></span></small> Learn more</a>
    </div>
    <div class="col-sm-3 review-element"><img src="../img/index/media-verge.png" alt="" class="verge">
        <p>"OnePlus makes its best phone even better."</p>
        <a><small><span class="glyphicon glyphicon-new-window"></span></small> Learn more</a>
    </div>
    <div class="col-sm-3 review-element"><img src="../img/index/media-cnet.png" alt="" class="cnet">
        <p>"The OnePlus 3T was rated 9/10 by CNET and named their Editor's Choice of November 2016."</p>
        <a><small><span class="glyphicon glyphicon-new-window"></span></small> Learn more</a>
    </div>
    <div class="col-sm-1"></div>
</section>




<section class="row images">
    <div class="col-sm-4 one image">
        <div class="cornerbox">
            <h3>Dash Power Bundle</h3>
            <p>Buy now</p>
        </div>
    </div>
    <div class="col-sm-4 two image">
        <div class="cornerbox">
            <h3>2016 Round-Up</h3>
            <p>Awards and Recognition</p>
        </div>
    </div>
    <div class="col-sm-4 three image">
        <div class="cornerbox">
            <h3>Shot on OnePlus</h3>
            <p>Enter here</p>
        </div>
    </div>
</section>


<section class="row mail">
    <div class="col-sm-offset-2 col-sm-8 subscribe-container">
        <div class="title-container">
            <h1 class="title">Always be the first to know</h1>
            <h2 class="subtitle">Sign up for our new newsletter</h2>
            <div class="input-container">
                <input type="text">
                <button class="" type="submit">Subscribe now</button>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</section>

<footer class="row footer">
    <div class="left-footer col-sm-3">
        <nav class="">
            <a ui-sref="home">About OnePlus</a>
            <a ui-sref="home">Carrers</a>
            <a ui-sref="home">Press</a>
            <a ui-sref="home">Privacy and Legal</a>
        </nav>
        <p>© 2013 - 2017 OnePlus</p>
    </div>

    <div class="col-sm-offset-6 col-sm-3 right-footer">
        <p><i class="fa fa-phone" aria-hidden="true"></i> Support: +1 (858) 609-6590</p>
        <nav class="social-media">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </nav>
    </div>
</footer>
