<!DOCTYPE html>
<div class="row graybox">
    <div class="col-sm-offset-1 col-sm-2">

        <div ng-repeat="imageurl in product.currentOption.imageurls">
            <img class="option-img" ng-src="./img/store/{{imageurl}}" alt="option" ng-click="product.changeCurrentImage(imageurl)">
        </div>

    </div>
    <div class="col-sm-4">
        <img class="main-img" ng-src="./img/store/{{product.currentOption.currentimage}}" alt="">
    </div>
    <div class="col-sm-5">
        <h1>{{product.currentOption.productname + ' ' + product.currentOption.optionname}}</h1>
        <h2>{{product.currentOption.optionprice}}</h2>

        <div ng-repeat="option in product.options" ng-class="option.radioclass">
              <input  type="radio" ng-model="product.currentOption" ng-value="option">
        </div>

        <button class ="btn btn-default">Add to cart</button>
    </div>
</div>
