<!DOCTYPE html>

<div class="signup-flex">
    <form class="signup-form" ng-submit="signup.register(signup.user)">
        <h1>Sign Up</h1>
        <label>E-mail</label>
        <input type="email" ng-model="signup.user.useremail" required>
        <label>First name</label>
        <input type="text" ng-model="signup.user.userfirstname" required>
        <label>Last name</label>
        <input type="text" ng-model="signup.user.userlastname" required>

        <label>Adress 1</label>
        <input type="text" ng-model="signup.user.useraddress1" required>

        <label>Adress 2</label>
        <input type="text" ng-model="signup.user.useraddress2">

        <label>Password</label>
        <input type="password" ng-model="signup.user.userpassword" ng-minlength="6" ng-maxlength="20" required>
        <label>Password (repeat)</label>
        <input type="password" ng-model="signup.user.userpassword" ng-minlength="6" ng-maxlength="20" required>

        <button type="submit">Sign Up</button>
    </form>
</div>
