<div class="usercp-container">
    <div class="container">
        <h2 class="h1 text-center py-4">Control Panel</h3>
        <div class="usercp-actions">
            <div class="row ">
                <p class="offset-1 col-3">Email</p><p class="offset-1 col-auto font-weight-bold" ng-bind="userCP.user.useremail" ></p>
                <div class="w-100"></div>
                <p class="offset-1 col-3">Full name</p><p class="offset-1 col-auto font-weight-bold">{{userCP.user.userfirstname + ' ' + userCP.user.userlastname}}</p>
                <div class="w-100"></div>
            </div>
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                <button class="my-3 btn-oneplus-red btn-check-orders" ui-sref="orders">Check your orders</button>
                <button class="my-3 btn-oneplus-red btn-logout" ng-click="userCP.logout()">Log Out</button>
                <button class="my-3 btn-oneplus-red btn-add" type="button" ng-click="userCP.toggleModal()">Add an address</button>
            </div>
        </div>

        <h2 class="h1 text-center my-4">Addresses</h2>
    
        <existing-address-form ng-repeat="address in userCP.user.addresses" address="address" refresh-user-data="userCP.refreshUserData()"></existing-address-form>
        
        <hr>
        
        <new-address-form countries="userCP.countries" refresh-user-data="userCP.refreshUserData()"></new-address-form>
    </div> 
</div>