// .btn-usercp{
//     padding: 6px 0;
//     width: 160px;
//     margin: 10px 0px;
// }

.btn-delete, .btn-logout, .btn-add {
    height: 35px;
    width: 200px;
}

.usercp-heading{
    padding: 10px 0px;
}

.ng-scope-margin-fix{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 1rem;
}

.existing-address-container{
    margin-bottom: 20px;
}