<div class="login-wrapper container-fluid">
    <h2 class="h1 my-4">User Control Panel</h3>

    <form class="address-form">
        <div class="row form-group justify-content-around">
            <label for="email" class="col-auto col-form-label">Email</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" id="email"
                    ng-model="userCP.user.useremail">
            </div>
        </div>
        <div class="row form-group justify-content-around">
            <label for="fullname" class="col-auto col-form-label">Full name</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control-plaintext" id="fullname"
                    ng-value="userCP.user.userfirstname + ' ' + userCP.user.userlastname">
            </div>
        </div>
    </form>

    <button class="btn-oneplus-red btn-usercp" ng-click="userCP.logout()">Log Out</button>

    <h2 class="h1 my-4">Payment Methods</h2>

    <!-- todo -->

    <h2 class="h1 my-4">Addresses</h2>

    <existing-address-form ng-repeat="address in userCP.user.addresses" address="address" countries="userCP.countries" refresh-user-data="userCP.refreshUserData()"></existing-address-form>
    <new-address-form countries="userCP.countries" refresh-user-data="userCP.refreshUserData()"></new-address-form>
    <button class="btn-oneplus-red btn-usercp" type="button" ng-click="userCP.toggleForm()">Add an address</button>
</div>