.login-wrapper{
    height: calc(100vh - (50px + 76px));
    background-color: #F9F9F9;
    text-align: center;

    box-sizing: border-box;
    padding-top: 20px;
}

.login-form{
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 15px;
    }
}

.btn-login{
    padding: 10px 0;
}

.btn-logout{
    padding: 10px 0;
    width: 50%;
}

.signup-link{
    text-align: center;
}